$primary-color: #030303;
$accent-color: #00CECE;
$breakpoint-desktop: 1024px;

@mixin mobile {
    @media (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
  }

a,
div.post-card-primary-tag{
    color: $accent-color;
}

.author-profile{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
}

.site-description {
    margin: 5px;
}

.site-header-content a{
    display: block;
    padding: 10px;
    border: 1px solid $accent-color;
    color: $accent-color;
    font-size: 2rem;
    line-height: 1em;
    border-radius: 10px;
    opacity: 0.8;
    margin: 5px;
}
.site-header-content a:hover {
    text-decoration: none;
    opacity: 1;
}

.tag-button{
    display: inline-block;
    border-radius: 10px;
    color: white;
    background-color: $primary-color;
    padding: 5px;
    .name {
        padding: 5px;
    }
    .badge {
        background-color: $accent-color;
        border-radius: 5px;
        padding: 3px;
    }
    &:hover{
        opacity: 0.5;
        text-decoration: none;
    }
}
.tag-list{
    padding: 0;
    list-style: none;
}
.post-content > div {
    width: 100%;
}

.paginator{
    width: 100%;
    text-align: center;
    ul{
        text-decoration: none;
        list-style: none;
        li{
            display: inline-block;
            a{
                padding: 10px;
                text-decoration: none;
                font-size: 2rem;
                color: $accent-color;
                &:hover{
                    border-radius: 5px;
                    text-decoration: none;
                    background-color: $accent-color;
                    color: white;
                }
                
            }
            a.active{
                font-weight: bold;
            }
            a.disabled{
                opacity: 0.3;
            }
        }
    }
}
@include mobile{
    .tags.desktop {
        display: none;
    }
    .tags.mobile {
        margin-top: 5px;
    }
    .site-main.home{
        flex-direction: column;
    }
}

@include desktop{
    .site-main.home{
        flex-direction: row;
    }
    .tags.mobile {
        display: none;
    }
}