$primary-color     : #030303;
$accent-color      : #00CECE;
$breakpoint-desktop: 1024px;

@font-face {
    font-family: 'D2Coding';
    src        : url('../assets/fonts/D2Coding.ttf');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style : normal;
    font-weight: 400;
    src        : url('../assets/fonts/noto-sans-kr-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src        : local(''),
        url('../assets/fonts/noto-sans-kr-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/noto-sans-kr-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/noto-sans-kr-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/noto-sans-kr-v13-latin-regular.otf') format('opentype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/noto-sans-kr-v13-latin-regular.svg#NotoSansKR') format('svg');
    /* Legacy iOS */
}

@mixin mobile {
    @media (max-width: #{$breakpoint-desktop - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

pre,
code,
kbd,
samp {
    font-family: 'D2Coding', 'Courier New', Courier, monospace;
}

body,
.post-full-content,
.post-card-excerpt{
    font-family: 'Noto Sans KR';
}

a,
div.post-card-primary-tag {
    color: $accent-color;
}

.post-full-header{
    .post-full-tags {
        display: block;
        a{
            margin-left: 10px;
            font-weight: bolder;
        }
        a.tag{
            font-weight: lighter;
        }
    }
    .post-full-title{
        font-size: 4rem;
    }
}

.author-profile {
    margin-left : auto;
    margin-right: auto;
    text-align  : center;
    padding     : 5px;
}

.site-description {
    margin: 5px;
}

.site-header-content {
    a {
        display      : block;
        padding      : 10px;
        border       : 2px solid $accent-color;
        color        : $accent-color;
        font-size    : 2.5rem;
        line-height  : 1em;
        border-radius: 10px;
        margin       : 5px;
        font-weight  : bold;

        &:hover {
            text-decoration: none;
            opacity        : 0.7;
        }
    }

    .site-title {
        font-size: 4rem;
    }
}

.tag-button {
    display         : inline-block;
    border-radius   : 10px;
    color           : black;
    background-color: #F0F0F0;
    padding         : 5px;
    margin: 5px;

    &:hover {
        opacity        : 0.5;
        text-decoration: none;
    }

    sup {
        color      : $accent-color;
        margin-left: 5px;
    }
}

.tag-list {
    padding   : 0;
    list-style: none;
}

.post-content>div {
    width: 100%;
}

.paginator {
    width     : 100%;
    text-align: center;

    ul {
        text-decoration: none;
        list-style     : none;

        li {
            display: inline-block;

            a {
                padding        : 10px;
                text-decoration: none;
                font-size      : 2rem;
                color          : $accent-color;

                &:hover {
                    border-radius   : 5px;
                    text-decoration : none;
                    background-color: $accent-color;
                    color           : white;
                }

            }

            a.active {
                font-weight: bold;
            }

            a.disabled {
                opacity: 0.3;
            }
        }
    }
}

img.post-card-image {
    border: 1px solid grey;
}


// .site-home-header .site-nav-logo {
//     display: block;
// }

@include mobile {
    .tags.desktop {
        display: none;
    }

    .tags.mobile {
        margin-top: 5px;
    }

    .site-main.home {
        flex-direction: column;
    }
}

@include desktop {
    .site-main.home {
        flex-direction: row;
    }

    .tags.mobile {
        display: none;
    }
}