{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

<header class="site-header">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post {{ if not (.Param "feature_image") }} no-image {{ end }}">

            <header class="post-full-header">
                
                    <section class="post-full-tags">
                    {{ with .Params.categories }}
                    {{ $category := (index . 0) }}
                        <a href="{{ "/categories/" | relLangURL }}{{ $category | urlize }}"><b>{{ $category }}</b></a>
                    {{ end }}
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
                    {{ end }}
                    </section>
                
                <h1 class="post-full-title">{{ .Title }}</h1>

                {{ if .Param "summary" }}
                    <p class="post-full-custom-excerpt">{{ .Summary }}</p>
                {{ end }}

                <div class="post-full-byline">
                    <section class="post-full-byline-content">

                        {{ if .Param "authors" }}
                            {{- partial "post-author.html" . -}}
                        {{ end }}

                        <section class="post-full-byline-meta">
                            {{ with .Param "authors" }}
                                {{ $author := (index . 0) }}
                                {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize $author)) }}
                                <h4 class="author-name">{{ .Params.name }}</h4>
                                {{ end }}
                            {{ end }}
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="{{.Date.Format "2006-31-01"}}">{{.Date.Format .Site.Params.DateFormat}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{ .ReadingTime }} min read</span>
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            {{ if .Param "feature_image" }}
            <figure class="post-full-image">
                <img src="{{ .Param "feature_image" }}" alt="{{ .Title }}" />
            </figure>
            {{ end }}

            <section class="post-full-content">
                <div class="post-content">
                    {{ .Content }}
                </div>
            </section>

        </article>

    </div>
</main>

{{- partial "post-navigation.html" . -}}

{{ end }}