{{- range .Params.authors }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  <div style="display: flex; flex-direction: row; margin: 10px;">
    <div style="background: url({{.Params.photo}}) no-repeat center; 
        background-size: cover; width: 80px; height: 80px; 
        border-radius: 100%;">
    </div>
      <div style="margin-left: 10px; padding-top: 5px;">
        <strong>{{ .Params.name }}</strong>
        <p>
            <a href="{{ .Permalink }}">저자의 글 더 보기.</a>
        </p>
      </div>
  </div>
  {{ end }}
{{ end }}