<article class="post-card post
{{ if not (.context.Param "feature_image") }} no-image
{{ else }}
{{ if (eq (mod .index 6) 0) }} post-card-large {{ end }}
{{ end }} ">

        {{ if .context.Param "feature_image" }}
            <a class="post-card-image-link" href="{{ .context.Permalink }}">
                <img class="post-card-image"src="{{ .context.Permalink }}{{ .context.Param "feature_image" }}" alt="{{ .context.Title }}"/>
            </a>
        {{ end }}
    
        <div class="post-card-content">
    
            <a class="post-card-content-link" href="{{ .context.Permalink }}">
    
                <header class="post-card-header">
                    {{ with .context.Params.categories }}
                        {{ $category := (index . 0) }}
                        <div class="post-card-primary-tag">{{ $category }}</div>
                    {{ end }}

                    <h2 class="post-card-title">{{ .context.Title }}</h2>
                </header>
    
                <section class="post-card-excerpt">
                    <p>{{ .context.Summary }}</p>
                </section>
    
            </a>

            {{ with .context.Params.authors }}
                {{ $author := (index . 0) }}
                {{ with $.context.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize $author)) }}
                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">
                            <div class="author-name-tooltip"><b>{{ .Params.name }}</b>님의 글 모두 보기</div>
                            <a href="{{.Permalink}}" class="static-avatar author-profile-image">
                            {{ if .Params.photo }}
                                <div class="author-profile"
                                    style="background: url({{.Permalink}}{{.Params.photo}}) no-repeat center; 
                                    background-size: cover; width: 30px; height: 30px; 
                                    border-radius: 100%; margin-bottom: 10px;">
                                </div>
                            {{ else }}
                                {{- partial "icons/avatar.html" -}}
                            {{ end }}
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span>{{ .Params.name }}</span>
                        <span class="post-card-byline-date"><time datetime="{{ $.context.Date.Format "2006-31-01" }}">{{ $.context.Date.Format "2006. 01. 02." }}</time>
                            <span class="bull">&bull;</span> {{ $.context.ReadingTime }} min read</span>
                    </div>
                </footer>
                {{ end }}
            {{ end }}
        </div>

</article>