<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
{{ range .Params.authors }}
{{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
<meta property="article:author" content="{{ .Params.name }}"/>
{{ end }}
{{ end }}
{{ if .Params.feature_image }}
<meta property="og:image" content="{{$.Permalink}}{{.Params.feature_image}}" />
{{ else }}
<meta property="og:image" content='https://cmsrvogimg.azurewebsites.net/api/render?text={{ .Title }}&imgurl={{"/assets/images/cmtech.png"| absURL }}' />
{{ end }}